@import './common';
@import './font';

html {
  height: 100%;

  @media screen and (min-width: 320px) {
    font-size: 64px;
  }

  @media screen and (max-width: 540px) {
    font-size: 108px;
  }

  body {
    height: 100%;
    font-family: 'PingFangSC';
    font-size: initial; //重置页面字体大小
    min-width: 320px;

    #app,
    .van-config-provider {
      height: 100%;
    }
  }
}

[v-cloak] {
  display: none;
}
