@import './common';
@import './font';

html body {
  font-family: 'PingFangSC';
}

html {
  @media screen and (min-width: 320px) {
    font-size: 64px;
  }

  @media screen and (max-width: 540px) {
    font-size: 108px;
  }
}

body {
  font-size: initial; //重置页面字体大小
  min-width: 320px;
}

[v-cloak] {
  display: none;
}
